body {
    /* max-width: 960px; */
    margin: auto;
    background: url(../images/white_brick_wall.png);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.container {
    margin: 0 auto;
    width: 90%;
}

.brand-logo {
    margin-left: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: light;
}

.card {
    margin-top: 20px;
}

.headerImg {
    display: block;
    margin: 20px auto 0 auto;
}


.foodItem{
    background-color: whitesmoke;
    margin-top: 35px;
}

#bio-image {
    float: left;
    margin-right: 20px
}

.person {
    position: relative;
    display: inline;
}

#user-input {
    width: 40%;
    margin: 20px auto 0 auto;
    position: relative;
}

.btn-flat {
    color: #73a37a;
}

.about-app {
    color: #73a37a;
}

.progress {
    margin: 35px auto 0 auto;
    width: 85%;
}

#sidenav {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  background-color: #c5e1a5;
}

.card-panel {
    background-color: #7cb342;
}

#results {
    width: 85%;
    margin: 20px auto 0 auto;
}

.collection-item {
    color: #558b2f !important;
    background-color: whitesmoke;
}

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee !important;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#888 !important;
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#000;
} /*Color of underline*/

.food-image {
    max-width: 100px
}

.collapsible-header {
    color: #558b2f !important;
}

.collapsible-header:hover {
    background-color: #dddddd !important;
}

.collapsible {
    border: none;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 50px #7cb342; 
}

::-webkit-scrollbar-thumb:hover {
   -webkit-box-shadow: inset 0 0 50px #7cb342;
}